{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": "eslint-config-airbnb-base",
  "rules": {
    "semi": ["error", "never"],
    "no-console": ["warn", { "allow": ["warn", "error", "info"]}],
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "parser": "@babel/eslint-parser",
  "ignorePatterns": ["models/**/*.js", "**/vendor/*.js"]
}
